.container-fluid {
  background: #7b55c8;
  padding: 0;
  height: 80px;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: #7b55c8;
  border-bottom-left-radius: 250% 160px;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(#1d572a, #7B55C8);
}

header nav {
  margin: 25px 0;
}

.avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 0 0 50px;
    border-radius: 50%;
    background: gray;
    border: 3px solid white;
}

.caption {
    display: block;
    margin-left: 20px;
}

nav {
  float: right;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: none;
}

ul li:not(first-child):not(last-child) {
  margin: 0 6px 0;
}

ul {
  text-align: center;
  text-decoration: none;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

.web-font {
  color: #eee;
  font-family: Monda, "Sans Serif";
}

/******* Media queries */
@media (min-width: 998px) {
  main {
    width: 998px;
  }
}

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: auto;
    margin: 0px 40px 0px 40px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
  }