body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    // font-size: 62.5%;
    font-size: 100%;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

img video {
    max-width: 100%;
    height: auto;
}

.container_ {
    width: 1080px;
}

section,
aside {
    margin: 10px;
}

section {
    float: left;
    width: 580px;
}

aside {
    float: right;
    width: 158px;
}

.main-nav {
    background-color: #581b98;
}

// .menu-btnというメニューボタンのクラスを作成することから始めます。
.menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s;
    opacity: 0;
    z-index: 2;
}

// :: beforeおよび:: after疑似要素を使用して、アプリケーション内にトリグラムの外観を作成します。
.menu-btn-burger {
    z-index: 0;
    width: 30px;
    height: 5px;
    position: absolute;
    background: white;
    border-radius: 5px;
    transition: all .5s;
    box-shadow: 0 2px 5px rgba(255, 101, 80, .5);
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 50px;
        height: 6px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        box-shadow: 0 2px 5px rbga(255, 101, 80, .5);
    }
}

// Bottom Bar
.menu-btn-burger::before {
    transform: translateY(-16px);
}

// Top Bar
.menu-btn-burger::after {
    transform: translateY(16px);
}

// Animation
// Disappearing Middle Bar
.menu-btn:checked+.menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

// Rotation to X symbol
.menu-btn:checked+.menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn:checked+.menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}