                                    // @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
                                    // @import "../node_modules/bootstrap/scss/bootstrap";
                                    // Custom.scss
                                    // Option A: Include all of Bootstrap
                                    body,
                                    html {
                                        margin: 0;
                                        padding: 0;
                                        font-family: 'Montserrat', sans-serif;
                                        // font-size: 62.5%;
                                        font-size: 100%;
                                        //background: rgb(231, 197, 227);
                                    }
                                    /* Style for making Iframe videos responbsive (YouTube, Vimeo */
                                    
                                    // .video-container {
                                    //     position: relative;
                                    //     padding-bottom: 56.25%;
                                    //     padding-top: 30px;
                                    //     height: 0;
                                    //     overflow: hidden;
                                    // }
                                    // .video-container iframe,
                                    // .video-container object,
                                    // .video-container embed {
                                    //     position: absolute;
                                    //     top: 0;
                                    //     left: 0;
                                    //     width: 100%;
                                    //     height: 100%;
                                    // }
                                    /* Responsive Images */
                                    
                                    img {
                                        max-width: 100%;
                                        height: auto;
                                    }
                                    /* Responsive Video */
                                    
                                    video {
                                        max-width: 100%;
                                        height: auto;
                                    }
                                    
                                    .main-nav {
                                        background-color: #581b98;
                                    }
                                    
                                    .top-section {
                                        background-color: #581b98;
                                        height: 520px;
                                    }
                                    
                                    #main-heading {
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: bold;
                                        font-size: 3rem;
                                    }
                                    
                                    .selector-for-some-widget {
                                        box-sizing: content-box;
                                    }
                                    
                                    *,
                                    *:before,
                                    *::after {
                                        box-sizing: border-box;
                                    }
                                    
                                    .info {
                                        padding-top: 60px;
                                        #text {
                                            padding-top: 10px;
                                            font-family: 'Montserrat', sans-serif;
                                        }
                                        #btn {
                                            margin-top: 10px;
                                        }
                                    }
                                    
                                    .avatar0 {
                                        position: absolute;
                                        width: 310px;
                                        height: 514px;
                                        left: calc(50% - 310px/2 + 248px);
                                        top: 50px;
                                        z-index: 1;
                                    }
                                    
                                    .avatar1 {
                                        position: absolute;
                                        width: 314px;
                                        height: 409px;
                                        left: calc(51% - 314px/2 + 466px);
                                        top: 120px;
                                    }
                                    
                                    .textbubble {
                                        position: absolute;
                                        width: 70px;
                                        height: 73px;
                                        left: 780px;
                                        top: 30px;
                                        left: calc(51% - 88px/2 + 111px);
                                    }
                                    
                                    #question_mark {
                                        position: absolute;
                                        width: 17px;
                                        height: 29px;
                                        left: calc(51% - 17px/2 + 464.5px);
                                        top: 80px;
                                    }
                                    
                                    .vector0 {
                                        position: absolute;
                                        width: 19px;
                                        height: 19px;
                                        left: calc(50% - 21px/2 + 352.5px);
                                        top: 70px;
                                        border-radius: 50%;
                                        background: #FC9C29;
                                    }
                                    
                                    .vector1 {
                                        /* Vector */
                                        position: absolute;
                                        width: 19px;
                                        height: 19px;
                                        left: calc(52% - 21px/2 + 352.5px);
                                        top: 20px;
                                        transform: matrix(-0.53, 0.85, 0.85, 0.53, 0, 0);
                                    }
                                    
                                    #arrow {
                                        position: absolute;
                                        width: 284.19px;
                                        height: 390.15px;
                                        left: 500px;
                                        top: 140px;
                                    }
                                    
                                    #subject_menu {
                                        position: absolute;
                                        top: -30px;
                                        z-index: 1;
                                    }
                                    
                                    #left-arrow {
                                        width: 30px;
                                    }
                                    
                                    #right-arrow {
                                        width: 30px;
                                        float: right;
                                        top: -10px;
                                    }
                                    
                                    //Start Ask Question
                                    #askquestion {
                                        position: absolute;
                                        width: 92px;
                                        height: 92px;
                                        left: calc(55% - 92px/2 - 390px);
                                        top: 400px;
                                    }
                                    
                                    #one {
                                        position: absolute;
                                        width: 30px;
                                        height: 40px;
                                        left: calc(56% - 33px/2 - 538.5px);
                                        top: 510px;
                                        font-family: Gilroy-Bold;
                                        font-size: 62px;
                                        line-height: 73px;
                                        display: flex;
                                        align-items: center;
                                        color: rgba(1, 17, 100, 0.07);
                                    }
                                    
                                    #text0 {
                                        position: absolute;
                                        top: 500px;
                                        left: calc(59% - 33px/2 - 538.5px);
                                        color: #2F3A5B;
                                    }
                                    
                                    #instruction0 {
                                        position: absolute;
                                        width: 290px;
                                        height: 74px;
                                        left: calc(59% - 33px/2 - 538.5px);
                                        top: 530px;
                                        // font-family: Gilroy-Regular;
                                        // font-size: 15px;
                                        line-height: 18px;
                                        display: flex;
                                        align-items: center;
                                        color: #2F3A5B;
                                    }
                                    
                                    // End Ask question
                                    #getyouranswers {
                                        position: absolute;
                                        width: 96px;
                                        height: 96px;
                                        left: calc(50% - 96px/2 - 14px);
                                        top: 140px;
                                    }
                                    
                                    #two {
                                        /* 2 */
                                        position: absolute;
                                        width: 30px;
                                        height: 40px;
                                        left: calc(50% - 33px/2 - 156.5px);
                                        top: 250px;
                                        font-family: Gilroy-Bold;
                                        font-size: 62px;
                                        line-height: 73px;
                                        display: flex;
                                        align-items: center;
                                    }
                                    
                                    #text1 {
                                        /* Get your questions answered */
                                        position: absolute;
                                        width: 273px;
                                        height: 74px;
                                        left: calc(50% - 273px/2 + 10.5px);
                                        top: 240px;
                                        // font-family: Gilroy-Bold;
                                        // font-size: 30px;
                                        line-height: 35px;
                                        display: flex;
                                        align-items: center;
                                        color: #2F3A5B;
                                    }
                                    
                                    #instruction1 {
                                        position: absolute;
                                        width: 290px;
                                        height: 56px;
                                        left: calc(50% - 290px/2 + 19px);
                                        top: 310px;
                                        // font-family: Gilroy-Regular;
                                        // font-size: 15px;
                                        line-height: 18px;
                                        display: flex;
                                        align-items: center;
                                        color: #2F3A5B;
                                    }
                                    
                                    #three {
                                        position: absolute;
                                        width: 30px;
                                        height: 40px;
                                        top: 460px;
                                        left: calc(44% - 33px/2 + 260.5px);
                                        font-family: Gilroy-Bold;
                                        font-size: 62px;
                                        line-height: 73px;
                                        display: flex;
                                        align-items: center;
                                        color: rgba(1, 17, 100, 0.07);
                                    }
                                    
                                    #text2 {
                                        position: absolute;
                                        width: 273px;
                                        height: 74px;
                                        left: calc(44% - 273px/2 + 420.5px);
                                        top: 450px;
                                        // font-family: Gilroy-Bold;
                                        // font-size: 30px;
                                        line-height: 35px;
                                        display: flex;
                                        align-items: center;
                                        color: #2F3A5B;
                                    }
                                    
                                    #instructiom2 {
                                        position: absolute;
                                        width: 290px;
                                        height: 56px;
                                        left: calc(46% - 33px/2 + 260.5px);
                                        top: 530px;
                                        // font-family: Gilroy-Regular;
                                        // font-size: 15px;
                                        line-height: 18px;
                                        display: flex;
                                        align-items: center;
                                        color: #2F3A5B;
                                    }
                                    
                                    #femaleatttendant {
                                        position: absolute;
                                        width: 92px;
                                        height: 92px;
                                        left: calc(37% - 96px/2 + 437px);
                                        top: 350px;
                                    }
                                    
                                    #maleatttendant {
                                        position: absolute;
                                        width: 92px;
                                        height: 92px;
                                        left: calc(43% - 96px/2 + 437px);
                                        top: 350px;
                                    }
                                    
                                    .howitworks {
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 1.4rem;
                                        font-weight: bold;
                                    }
                                    
                                    .instruction {
                                        font-family: 'Montserrat', sans-serif;
                                    }
                                    
                                    #background {
                                        position: absolute;
                                        width: 1464px;
                                        height: 537px;
                                        left: calc(50% - 1464px/2 + 1px);
                                        top: 1250px;
                                        background: rgba(252, 156, 41, 0.04);
                                    }
                                    
                                    .banner {
                                        position: absolute;
                                        top: 500px;
                                        height: 580px;
                                        background: rgba(252, 156, 41, 0.04);
                                        .about_us {
                                            padding-top: 200px;
                                        }
                                        #avatar {
                                            width: 483px;
                                            height: 537px;
                                            top: 550px;
                                        }
                                        #aboutus {
                                            color: #000A3C;
                                        }
                                        #about {
                                            color: #000A3C;
                                        }
                                    }
                                    
                                    .review_section {
                                        position: absolute;
                                        top: 600px;
                                        color: #000A3C;
                                        .reviews {
                                            padding-top: 30px;
                                        }
                                        #user {
                                            margin-top: 20%;
                                        }
                                    }
                                    
                                    .last_banner {
                                        position: absolute;
                                        top: 700px;
                                        height: 10%;
                                        background: #9514bd;
                                        // background-image: url(asset\images\stylish-hexagonal-line-pattern-background.png);
                                        // background-position: center center;
                                        // background-repeat: no-repeat;
                                        // background-attachment: fixed;
                                        // background-size: cover;
                                    }
                                    
                                    .last_section {
                                        padding-top: 7%;
                                    }
                                    
                                    .last_btn {
                                        margin-top: 20%;
                                        margin-left: 35%;
                                    }
                                    
                                    .footer {
                                        position: absolute;
                                        width: 100%;
                                        height: 350px;
                                        top: 2820px;
                                        background: #152F4F;
                                        color: white;
                                        .links {
                                            ul {
                                                list-style-type: none;
                                            }
                                            li a {
                                                text-decoration: none;
                                                color: white;
                                                transition: color .2s;
                                                &:hover {
                                                    text-decoration: none;
                                                    color: #8841cb;
                                                }
                                            }
                                        }
                                        .about-company {
                                            i {
                                                font-size: 25px;
                                            }
                                            a {
                                                color: white;
                                                transition: color .2s;
                                                &:hover {
                                                    color: #4180CB
                                                }
                                            }
                                        }
                                        .location {
                                            i {
                                                font-size: 18px;
                                            }
                                        }
                                        .copyright p {
                                            border-top: 1px solid rgba(255, 255, 255, .1);
                                        }
                                    }
                                    /* Responsive font */
                                    
                                    @media (min-width: 640px) {
                                        body {
                                            font-size: 1rem;
                                        }
                                    }
                                    
                                    @media (min-width:960px) {
                                        body {
                                            font-size: 1.2rem;
                                        }
                                    }
                                    
                                    @media (min-width:1100px) {
                                        body {
                                            font-size: 1.5rem;
                                        }
                                    }
                                    /* Media Queries: Tablet Landscape */
                                    
                                    @media screen and (max-width: 1060px) {
                                        #primary {
                                            width: 67%;
                                        }
                                        #secondary {
                                            width: 30%;
                                            margin-left: 3%;
                                        }
                                    }
                                    /* Media Queries: Tabled Portrait */
                                    
                                    @media screen and (max-width: 768px) {
                                        #primary {
                                            width: 100%;
                                        }
                                        #secondary {
                                            width: 100%;
                                            margin: 0;
                                            border: none;
                                        }
                                    }
                                    /* Media Queries */
                                    /* Smartphones, small screens (portrait and landscape) ----------- */
                                    
                                    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                                        /* Styles */
                                    }
                                    /* Smartphones, small screens (landscape) ----------- */
                                    
                                    @media only screen and (min-width: 321px) {
                                        /* Styles */
                                    }
                                    /* Smartphones (portrait) ----------- */
                                    
                                    @media only screen and (max-width: 320px) {
                                        /* Styles */
                                    }
                                    /* Desktops and laptops ----------- */
                                    
                                    @media only screen and (min-width: 1224px) {
                                        /* Styles */
                                    }
                                    /* Large screens ----------- */
                                    
                                    @media only screen and (min-width: 1824px) {
                                        /* Styles */
                                    }
                                    
                                    @media all and (orientation: landscape) {}
                                    
                                    // Sign in Page
                                    // .signin-form {
                                    //     border-radius: 8px;
                                    //     margin-left: 20%;
                                    //     margin-bottom: 1%;
                                    //     margin-top: 5%;
                                    // }
                                    .sign-in-section {
                                        margin-top: 8%;
                                    }
                                    /*    Sign in sign up css */
                                    
                                     :root {
                                        --form-height: 570px;
                                        --form-width: 1000px;
                                        /*  Sea Green */
                                        --left-color: #9fdeaf;
                                        /*  Light Blue  */
                                        --right-color: #96dbe2;
                                    }
                                    
                                    .container_ {
                                        width: var(--form-width);
                                        height: var(--form-height);
                                        position: relative;
                                        margin: auto;
                                        box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
                                        border-radius: 10px;
                                        margin-top: 50px;
                                    }
                                    /*  Form */
                                    
                                    input[type=text] {
                                        // input elements with type="text" attribute
                                        padding: 10px;
                                        margin: 10px 0; // add top and bottom margin
                                        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
                                    }
                                    
                                    input[type=password] {
                                        // input elements with type="password" attribute
                                        padding: 10px;
                                        margin: 10px 0; // add top and bottom margin
                                        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
                                    }
                                    
                                    .border-customized-input {
                                        border: 2px solid #eee;
                                    }
                                    
                                    .border-bottom-input {
                                        border: 0; // remove default border
                                        border-bottom: 1px solid #eee; // add only bottom border
                                    }
                                    
                                    .border-removed-input {
                                        border: none;
                                    }
                                    
                                    .rounded-input {
                                        padding: 10px;
                                        border-radius: 10px;
                                    }
                                    
                                    input {
                                        width: 80%;
                                    }
                                    
                                    input,
                                    textarea {
                                        font-family: inherit;
                                        font-size: inherit;
                                    } // X-Small devices (portrait phones, less than 576px)
                                    // No media query for `xs` since this is the default in Bootstrap
                                    // Small devices (landscape phones, 576px and up)
                                    @media (min-width: 576px) {}
                                    
                                    // Medium devices (tablets, 768px and up)
                                    @media (min-width: 768px) {}
                                    
                                    // Large devices (desktops, 1100px and up)
                                    @media (min-width: 992px) {
                                        .howitworks-sm {
                                            display: none;
                                        }
                                    }
                                    
                                    // X-Large devices (large desktops, 1200px and up)
                                    @media (min-width: 1200px) {}
                                    
                                    // XX-Large devices (larger desktops, 1400px and up)
                                    @media (min-width: 1400px) {}
                                    
                                    // Max-width
                                    // X-Small devices (portrait phones, less than 576px)
                                    @media (max-width: 575.98px) {}
                                    
                                    // Small devices (landscape phones, less than 768px)
                                    @media (max-width: 767.98px) {}
                                    
                                    // Medium devices (tablets, less than 992px)
                                    @media (max-width: 991.98px) {
                                        .howitworks-lg {
                                            display: none;
                                        }
                                    }
                                    
                                    // Large devices (desktops, less than 1200px)
                                    @media (max-width: 1199.98px) {}
                                    
                                    // X-Large devices (large desktops, less than 1400px)
                                    @media (max-width: 1399.98px) {}
                                    
                                    // XX-Large devices (larger desktops)
                                    // No media query since the xxl breakpoint has no upper bound on its width
                                    // No media query since the xxl breakpoint has no upper bound on its width